<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="/dist/semantic.min.css"> 
    {% block title %}
    <title>{{title}}</title>
    {% endblock %}
</head>

<body>

    <div class="ui secondary pointing menu">
        <a class="active item">
    Home
  </a>
        <a class="item">
    Messages
  </a>
        <a class="item">
    Friends
  </a>
        <div class="right menu">
            <a class="ui item">
      Logout
    </a>
        </div>
    </div>
    <div class="ui segment">
        <p></p>
    </div>

    {% block content %}{% endblock %}

    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="/dist/semantic.min.js"></script>
</body>

</html>
